/*Especificidad: 001*/
main{
    display: grid;
    grid-template-columns: [line1] 25% [line2] 25% [line3] 25% [line4] 25% ;
    grid-template-rows: [row1] auto [row2] auto [row3] auto ;
    align-items: center ;
    grid-auto-flow: row ;
    overflow-x: auto;
}

/*Especificidad: 001*/
figure {
    grid-column-start: line1;
    grid-column-end: line2;
    grid-row-start: row1;
    grid-row-end: row1;
   
   
}

/*Especificidad: 001*/
section  {
    grid-column-start: line1;
    grid-column-end: line3;
    grid-row-start: row2;
    grid-row-end: row2;
    overflow-x: auto;

}

/*Especificidad: 001*/
article{
    grid-column-start: line1;
    grid-column-end: line3;
    grid-row-start: row3;
    grid-row-end: row3;
   
}

/*Especificidad: 001*/
aside{

    grid-column-start: line4;
    grid-column-end: line4;
    grid-row-start: row2;
    grid-row-end: row3;

}

/*Especificidad: 001*/
nav{
    display: flex;
    justify-content:space-around;
    flex-wrap:  wrap;
    align-items:center;
    height: 3em;
    
}

/*Especificidad: 001*/
footer{
    margin-top: 3em;
}

/*Especificidad: 001*/
h1{
    text-align: center;
}







